$background: #101010;
$paragraphs: rgba(255, 255, 255, 0.65);
$white: white;
$accent: #f8b833;
$border: rgba(255, 255, 255, 0.15);
$dark-hover: #1e1e1e;
$additional-background: #141414;
$transparent: rgba(0, 0, 0, 0);
