@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.about {
  .hero {
    padding: 17rem 7% 10rem;
    @include flex;
  }
  .images {
    border-top: 1px solid $additional-border;
    @include grid(3, center);
    padding: 4vmin;
    gap: 4vmin;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
