@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.hero {
  color: $white;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  @include spacing(padding, 0, 5);

  .text {
    z-index: 2;
    max-width: 60rem;
    h1 {
      font-size: 7rem;

      span {
        color: $accent;
      }
    }

    p {
      @include spacing(margin-bottom, 3);
      line-height: 175%;
      color: $paragraphs;
      display: flex;
      flex-direction: column;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.about {
  @include section($additional-background);
  @include subtitle();

  .container {
    @include container;
    @include grid(2, center);

    img {
      width: 100%;
      height: 100%;
      border: 1px solid $border;
    }

    .block-right {
      padding-left: 10%;
    }

    h2 {
      @include spacing(margin-bottom, 3);
    }
    p {
      @include spacing(margin-bottom, 4);
      max-width: 47rem;
    }
  }
}

.services {
  @include section($background);
  @include subtitle();
  .container {
    @include container;
    .heading {
      max-width: 56rem;
    }
    .grid {
      @include grid(3, start);
      margin-top: 0;

      .service-one {
        padding-top: 100px;
      }
      .service-two {
        padding-top: 50px;
      }

      img {
        width: 100%;
        height: 53rem;
        object-fit: cover;
        border: 1px solid $border;
      }
    }
  }
}
