@use '../../utilities/variables' as *;
@use '../../utilities/mixins' as *;

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  @include font-size(s);
  border-bottom: 1px solid $border;

  .active {
    color: $accent;
  }

  ul {
    display: flex;
    list-style-type: none;
    align-items: center;

    li {
      color: $white;
      @include spacing(padding, 3, 4);

      background-color: $transparent;
      transition: 0.2;
      min-height: 100%;

      &:not(:last-child) {
        border-right: 1px solid $border;
      }

      &:first-child {
        border-left: 1px solid $border;
      }

      &:last-child {
        background-color: $background;
        &:hover {
          background-color: $additional-background;
        }
      }

      &:hover {
        background-color: $additional-background;
      }

      img {
        height: 1.8rem;
        width: 1.8rem;
        opacity: 0.6;
        filter: brightness(0) saturate(100%) invert(100%) sepia(4%)
          saturate(7465%) hue-rotate(178deg) brightness(103%) contrast(99%);
      }
    }

    .logo {
      border-left: none !important;
      border-right: 1px solid $border;
      background-color: $transparent !important;
    }
  }
}
