@use '../../utilities/variables' as *;
@use '../../utilities/mixins' as *;

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  @include font-size(s);

  @include spacing(padding, 3, 5);

  ul {
    display: flex;
    list-style-type: none;
    align-items: center;

    li {
      color: $white-color;
      @include spacing(padding-left, 3);

      img {
        height: 4rem;
        width: 4rem;
        opacity: 0.6;
      }
    }
  }
}
