@use '../../utilities/variables' as *;
@use '../../utilities/mixins' as *;

.accordion {
  border: 1px solid $border;
  @include spacing(padding, 3, 4);

  .header {
    display: flex;
    justify-content: space-between;
  }

  img {
    width: 2rem;
    height: 2rem;
  }

  .display {
    display: block;
    @include spacing(margin-bottom, 3);
  }

  .hidden {
    display: none;
  }

  .close {
    rotate: 45deg;
    transition: rotate 0.3s ease;
  }
  .open {
    rotate: 90deg;
    transition: rotate 0.3s ease;
  }
}
